<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172258767237-faoippt5bmbs3m6ff9k0lbq1memn4tnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172258767237-faoippt5bmbs3m6ff9k0lbq1memn4tnr</string>
	<key>API_KEY</key>
	<string>AIzaSyD63FqUiIkY0O8g-JR62WFpjFLWII8gO70</string>
	<key>GCM_SENDER_ID</key>
	<string>172258767237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetoLivre</string>
	<key>PROJECT_ID</key>
	<string>atv-pog3-livre</string>
	<key>STORAGE_BUCKET</key>
	<string>atv-pog3-livre.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172258767237:ios:905e3580d736c2d22654ec</string>
</dict>
</plist>